# Скопируйте в .env и укажите свои значения
# Локальный MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/framecut

# Или MongoDB Atlas (облако):
# MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/framecut

JWT_SECRET=замените-на-длинный-случайный-ключ
PORT=3000

# Email администратора (можно несколько через запятую)
ADMIN_EMAIL=your@email.com